head{
    background-color:rgb(235, 29, 156)
    padding: 20px;
}
a{
    color: white;
    text-decoration-color: aliceblue;
}
body{
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1{
    color: rgb(255, 2, 2);
    text-align: center;
}
h2{
    color: blue;
    text-align: center;
}
header{
    background-color: rgb(0, 153, 255);
    color: white.
    margin: 0px;
    padding: 10px 10px; 
    height: 30px;
    text-align: center;
    }

    ul{
        margin: 0px;
        padding: 0px;
        list-style-type: none;
    }
    li{
        display: inline-block;
        margin: 0 20px 0 0;
    }
footer{
        text-align: right;
        background-color:rgb(24, 24, 236);
        padding: 10px 10px;
        height: 10px;
        position: fixed;
        left:0;
        bottom:0;
        width: 100%
    }

col{
    text-align: center;
}
div{
    text-align: center;
}
/* For desktop: */
iframe {
    width: 560px;}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
 iframe {
    width: 100%;
  }
}
